{% extends "layout.html" %} {% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/vexflow/build/cjs/vexflow.js"></script>
<script
  type="text/javascript"
  src="{{ url_for('static', filename = 'quiz.js') }}"
></script>
<script>
  let data = {{quiz_data|tojson}};
  let staff_data = data["staff"]
  let quiz_id = data["id"]
  let next_id = quiz_id+1
  let options = data["options"]
  let end_flag = data["end_flag"]
</script>

<div class="learning-container">
  <div id="image" class="row"></div>
  <div id="options" class="row"></div>
</div>
<div id="next-button" class="float-right"></div>

{% endblock %}
